@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic");
@import url(reset.css);
@import url(lightbox.css);
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.header__container, .info__content, .about__container, .about-us__container, .advantages__container, .services__container, .news__container, .legislation__container, .documents__container, .services-page__container, .date__container, .order__container, .memory__container, .news-page__container, .news-item__container, .contacts__container, .footer__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.header__container, .header__nav, .header .adaptive-menu__open-menu, .info, .about__certificate, .about-us__certificate, .advantages__container, .services__container, .news__container, .documents__content, .news-page__container, .contacts__container, .pagination__block, .footer__container, .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.about__caption, .about-us__caption, .about-us__subcaption, .advantages__caption, .services__caption, .news__caption, .legislation__caption, .documents__caption, .services-page__caption, .date__caption, .order__caption, .memory__caption, .news-page__caption, .news-item__caption, .contacts__caption {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
  font-size: 58px;
  color: #290e05;
  text-shadow: 2px 3px 2px #fff; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header {
  width: 100%;
  position: fixed;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.2); }
  .header--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 0 3px 15px 0.15px rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 15px 0.15px rgba(0, 0, 0, 0.4);
    background: rgba(41, 14, 5, 0.8); }
    .header--fixed .header__link:hover {
      color: #000; }
    .header--fixed .header__link:after {
      background-color: #000; }
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__container > a {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      @media screen and (max-width: 600px) {
        .header__container > a img {
          width: 60px !important; } }
  .header__nav {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1024px) {
      .header__nav {
        display: none; } }
  .header__link {
    color: #fff; }
    .header__link:hover {
      color: #290e05; }
    .header__link:visited:after, .header__link:active:after {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-transform: translateY(7px) scale(1);
              transform: translateY(7px) scale(1); }
    .header__link:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #290e05;
      -webkit-transform: translateY(7px) scale(0);
              transform: translateY(7px) scale(0);
      display: block; }
    .header__link:hover:after {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-transform: translateY(7px) scale(1);
              transform: translateY(7px) scale(1); }
    .header__link.active {
      color: #290e05; }
      .header__link.active:after {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #290e05;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform: translateY(7px) scale(1);
                transform: translateY(7px) scale(1); }
  .header .adaptive-menu {
    display: none;
    position: relative;
    cursor: pointer; }
    @media screen and (max-width: 1024px) {
      .header .adaptive-menu {
        display: block; } }
    .header .adaptive-menu__menu-top {
      position: relative;
      top: 5%;
      margin: 0;
      padding: 0; }
    .header .adaptive-menu__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 12;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      overflow: auto;
      background: #fff; }
    .header .adaptive-menu__open-menu {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      .header .adaptive-menu__open-menu:hover .adaptive-menu__title {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #290e05; }
    .header .adaptive-menu__close-menu {
      width: 100%;
      display: inline-block;
      padding: 5px 15px;
      cursor: pointer;
      font-size: 40px;
      text-align: right;
      color: #290e05; }
    .header .adaptive-menu__link {
      display: block;
      text-align: center;
      padding: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 500;
      color: #000; }
      @media screen and (max-width: 375px) {
        .header .adaptive-menu__link {
          font-size: 25px; } }
      .header .adaptive-menu__link:hover {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #290e05; }
    .header .adaptive-menu img {
      outline: none; }
      .header .adaptive-menu img:focus, .header .adaptive-menu img:active {
        outline: none; }

.info {
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/40573635-kollegiya-advokatov-besplatnye-konsultacii_Fze3gJ3.jpg") no-repeat center fixed/cover; }
  .info__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .info__block {
    width: 680px;
    text-align: center; }
    .info__block > * {
      color: #fff; }
    @media screen and (max-width: 1024px) {
      .info__block {
        width: 100%; } }
    @media screen and (max-width: 375px) {
      .info__block {
        padding-top: 40px; } }
  .info__text {
    line-height: 60px;
    font-size: 34px;
    text-transform: uppercase; }
    @media screen and (max-width: 600px) {
      .info__text {
        line-height: 50px;
        font-size: 30px; } }
    @media screen and (max-width: 375px) {
      .info__text {
        line-height: 40px;
        font-size: 28px; } }
  .info__name {
    line-height: 70px;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px; }
    @media screen and (max-width: 600px) {
      .info__name {
        line-height: 50px;
        font-size: 35px; } }
  .info__callback, .info__phone {
    display: inline-block;
    margin: 20px 0 0 50px;
    padding: 10px 20px;
    font-size: 22px; }
    @media screen and (max-width: 600px) {
      .info__callback, .info__phone {
        display: block;
        margin: 20px auto;
        width: 70%; } }
    @media screen and (max-width: 375px) {
      .info__callback, .info__phone {
        width: 100%; } }
  .info__phone {
    background: #fff;
    color: #290e05; }
    .info__phone:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background: #290e05;
      color: #fff; }
  .info__callback {
    color: #fff;
    background: #290e05; }
    .info__callback:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background: #fff;
      color: #290e05; }
  .info__line {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 3px;
    background: #290e05; }
  .info__modal {
    margin: 60px 0 110px 0;
    padding: 0 20px;
    background: #290e05; }
    @media screen and (max-width: 1024px) {
      .info__modal {
        margin: 20px 0; } }
  .info__popup {
    display: none;
    width: 500px;
    height: auto;
    border: 2px #290e05 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    opacity: 0;
    z-index: 11; }
    @media screen and (max-width: 600px) {
      .info__popup {
        width: 100%;
        height: auto;
        left: 0;
        margin-left: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; } }
  .info__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: block; }
  .info__overlay {
    z-index: 10;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none; }

.form {
  width: 100%;
  display: inline-block;
  padding: 25px; }
  .form__field {
    margin-bottom: 10px; }
  .form__error {
    color: #290e05;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none; }
  .form input, .form textarea {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #290e05; }
  .form__send {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color: #290e05;
    color: #fff !important;
    border: none !important; }
  .form .help-block {
    color: #290e05; }
  .form .form__notification {
    display: none;
    color: #290e05;
    margin: 20px 0;
    text-align: center;
    font-size: 20px; }
  .form input:valid:not(:placeholder-shown), .form textarea:valid:not(:placeholder-shown) {
    border-color: green; }
  .form input:invalid:not(:placeholder-shown), .form textarea:invalid:not(:placeholder-shown) {
    border-color: #290e05; }
  .form input:invalid:not(:placeholder-shown) + .form__error, .form textarea:invalid:not(:placeholder-shown) + .form__error {
    display: block; }

.about {
  padding: 50px 0; }
  @media screen and (max-width: 600px) {
    .about {
      padding: 30px 0; } }
  .about__photo {
    width: 53%;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    outline: 2px solid #290e05;
    outline-offset: -10px; }
    @media screen and (max-width: 600px) {
      .about__photo {
        width: 100%;
        margin: 0 0 20px 0; } }
  .about__block {
    text-align: justify; }
    .about__block img {
      width: 100%; }
      .about__block img:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 26, 79, 0.2); }
    .about__block p {
      margin-bottom: 10px;
      line-height: 27px; }
      @media screen and (max-width: 600px) {
        .about__block p {
          line-height: 22px; } }
  .about__text p {
    margin-bottom: 20px;
    line-height: 22px; }
  .about__certificate {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    clear: both; }
  .about__img {
    width: 200px;
    margin-bottom: 20px; }
  .about__caption {
    width: 100%; }

.about-us__container {
  margin-top: 30px; }
  .about-us__container p {
    margin-bottom: 20px;
    line-height: 22px; }
.about-us__caption, .about-us__subcaption {
  padding: 180px 0 90px;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #290e05;
  background: url("../img/library-869061_1920-4.jpg") no-repeat center top/cover; }
.about-us__subcaption {
  padding: 50px 0;
  background: none; }
.about-us__photo {
  width: 25%;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  outline: 2px solid #290e05;
  outline-offset: -10px; }
  @media screen and (max-width: 600px) {
    .about-us__photo {
      width: 100%;
      float: none;
      margin: 0 0 20px 0; } }
.about-us__block {
  text-align: justify; }
  .about-us__block img {
    width: 100%; }
    .about-us__block img:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 26, 79, 0.2); }
  .about-us__block p {
    margin-bottom: 10px;
    line-height: 27px; }
.about-us__text p {
  margin-bottom: 20px;
  line-height: 22px; }
.about-us__certificate {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  clear: both; }
.about-us__img {
  width: 200px;
  margin-bottom: 20px; }
.about-us__caption, .about-us__subcaption {
  width: 100%; }

.advantages {
  clear: both;
  background: url("../img/4444.jpg") no-repeat center fixed/cover; }
  @media screen and (max-width: 600px) {
    .advantages {
      padding-bottom: 30px; } }
  .advantages__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages__item {
    width: 24%;
    min-height: 240px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    margin: 3%; }
    @media screen and (max-width: 1024px) {
      .advantages__item {
        width: 34%; } }
    @media screen and (max-width: 600px) {
      .advantages__item {
        width: 100%;
        min-height: auto; } }
  .advantages__title {
    font-size: 18px;
    padding: 10px 0;
    font-weight: 700; }
  .advantages__text {
    text-align: left;
    line-height: 22px;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 300; }

.services {
  padding: 20px 0 50px; }
  .services__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
    @media screen and (max-width: 1024px) {
      .services__container {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; } }
    @media screen and (max-width: 600px) {
      .services__container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .services__caption {
    text-shadow: 2px 3px 2px rgba(105, 130, 120, 0.4); }
  .services__item {
    width: 11%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7); }
    @media screen and (max-width: 1024px) {
      .services__item {
        width: 26%; } }
    @media screen and (max-width: 600px) {
      .services__item {
        width: 49%; } }
  .services__obj {
    width: 110px; }
  .services__title {
    display: block;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 700;
    line-height: 22px;
    color: #000; }
    .services__title:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      color: #60210c; }

.news {
  background: url("../img/23.jpg") no-repeat center/cover; }
  .news__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 40px; }
  .news__item {
    margin: 10px 20px;
    background: rgba(41, 14, 5, 0.6); }
  .news__img {
    width: 100%;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
    outline: 2px solid #290e05;
    outline-offset: -7px; }
  .news__title {
    display: block;
    text-transform: uppercase;
    font-size: 28px;
    padding: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #fff; }
    .news__title:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      color: #290e05; }
  .news__text {
    padding: 0 20px 20px;
    line-height: 22px;
    color: #fff;
    font-weight: 300; }

.legislation__container {
  padding: 50px 20px; }
  @media screen and (max-width: 375px) {
    .legislation__container {
      padding: 20px; } }
.legislation__caption {
  padding: 200px 0 150px;
  font-size: 60px;
  background: url("../img/law-books-and-gavel.jpg") no-repeat center/cover; }
  @media screen and (max-width: 600px) {
    .legislation__caption {
      font-size: 11vw; } }
.legislation a {
  display: block;
  margin-bottom: 15px;
  color: #000; }
  .legislation a:hover {
    -webkit-transition: .5s;
    transition: .5s;
    color: #290e05; }

.documents__container {
  padding: 50px 0; }
.documents__caption {
  padding: 200px 0 100px;
  font-size: 60px;
  background: url("../img/afcf4b9fb179a22de33ec6ab23da451f.jpg") no-repeat center/cover; }
  @media screen and (max-width: 600px) {
    .documents__caption {
      font-size: 11vw; } }
.documents__item:nth-of-type(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.documents__content {
  width: 400px;
  height: 250px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(41, 14, 5, 0.7); }
  @media screen and (max-width: 600px) {
    .documents__content {
      width: 100%; } }
.documents__name {
  color: #fff;
  font-size: 28px;
  line-height: 30px; }
.documents__download {
  font-size: 22px;
  color: #fff; }
  .documents__download:hover {
    color: #60210c; }
.documents p {
  margin-bottom: 10px; }

.services-page__container {
  padding: 50px 20px; }
.services-page__caption {
  padding: 200px 0 120px;
  font-size: 60px;
  background: url("../img/about-the-superstition-local-business-network-mesa-az.jpg") no-repeat center/cover; }
.services-page__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700; }
.services-page p {
  margin-bottom: 20px;
  line-height: 22px; }

.date__container {
  padding: 50px 0; }
.date__caption {
  padding: 200px 0;
  font-size: 60px;
  background: url("../img/2.jpg") no-repeat center/cover; }
.date p {
  margin-bottom: 20px;
  line-height: 22px; }
.date ul {
  margin-bottom: 20px; }
  .date ul li {
    list-style: disc; }

.order__container {
  padding: 50px 20px; }
.order__caption {
  padding: 200px 0 180px;
  font-size: 60px;
  background: url("../img/sl-3.jpg") no-repeat center/cover; }
  @media screen and (max-width: 600px) {
    .order__caption {
      font-size: 11vw; } }
.order__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700; }
.order p {
  margin-bottom: 20px;
  line-height: 22px; }
.order strong {
  font-weight: bold; }

.memory__container {
  padding: 50px 20px; }
.memory__caption {
  padding: 200px 0 180px;
  font-size: 60px;
  background: url("../img/sl-3.jpg") no-repeat center/cover; }
  @media screen and (max-width: 600px) {
    .memory__caption {
      font-size: 11vw; } }
.memory__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700; }
.memory p {
  margin-bottom: 20px;
  line-height: 22px; }
.memory strong {
  font-weight: bold; }
.memory__link {
  display: block;
  width: 270px;
  margin: 50px auto 0;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #290e05;
  border: 1px solid #290e05; }
  .memory__link:hover {
    -webkit-transition: .5s;
    transition: .5s;
    background: none;
    color: #290e05; }

.news-page__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0; }
.news-page__caption {
  padding: 200px 0 120px;
  font-size: 60px;
  background: url("../img/gazeta.jpg") no-repeat center/cover; }
.news-page__item {
  width: 30%;
  margin: 10px 20px;
  background: rgba(41, 14, 5, 0.6); }
  @media screen and (max-width: 1024px) {
    .news-page__item {
      width: 40%; } }
  @media screen and (max-width: 600px) {
    .news-page__item {
      width: 100%; } }
.news-page__img {
  width: 100%;
  outline: 2px solid #290e05;
  outline-offset: -7px; }
.news-page__title {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  padding: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #fff; }
  .news-page__title:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #290e05; }
.news-page__text {
  padding: 0 20px 20px;
  line-height: 22px;
  color: #fff;
  font-weight: 300; }
.news-page p {
  margin-bottom: 20px;
  line-height: 22px; }

.news-item__container {
  padding: 50px 0; }
.news-item__caption {
  padding: 200px 0;
  font-size: 60px;
  background: url("../img/1534258645_1.jpg") no-repeat center/cover; }
.news-item p {
  margin-bottom: 20px;
  line-height: 22px; }
.news-item img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px; }

.contacts__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 600px) {
    .contacts__container {
      display: block; } }
.contacts__caption {
  padding: 200px 0;
  font-size: 60px;
  background: url("../img/virisheno-iak-vesti-reestr-privatnih-vikonavtsiv.jpg") no-repeat center/cover; }
.contacts__title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #290e05; }
.contacts__info {
  width: 40%; }
  @media screen and (max-width: 600px) {
    .contacts__info {
      width: 100%;
      margin-bottom: 20px; } }
  .contacts__info p {
    line-height: 24px; }
.contacts .form {
  width: 44%;
  display: inline-block;
  padding: 25px; }
  @media screen and (max-width: 600px) {
    .contacts .form {
      width: 100%;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  .contacts .form__field {
    margin-bottom: 10px; }
  .contacts .form__error {
    color: #290e05;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none; }
  .contacts .form input, .contacts .form textarea {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #290e05; }
  .contacts .form__send {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    background-color: #290e05;
    color: #fff !important;
    border: none !important; }
  .contacts .form .help-block {
    color: #290e05; }
  .contacts .form input:valid:not(:placeholder-shown), .contacts .form textarea:valid:not(:placeholder-shown) {
    border-color: green; }
  .contacts .form input:invalid:not(:placeholder-shown), .contacts .form textarea:invalid:not(:placeholder-shown) {
    border-color: #290e05; }
  .contacts .form input:invalid:not(:placeholder-shown) + .form__error, .contacts .form textarea:invalid:not(:placeholder-shown) + .form__error {
    display: block; }
.contacts .services__container {
  width: 100%;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .contacts .services__container .services__item {
    width: 24%; }
    @media screen and (max-width: 600px) {
      .contacts .services__container .services__item {
        width: 49%; } }

.pagination {
  width: 100%; }
  .pagination__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0; }
  .pagination__cycle {
    margin: 0 10px; }
    .pagination__cycle:first-child a, .pagination__cycle:last-child a {
      width: auto;
      padding: 0 20px;
      border-radius: 30px; }
    .pagination__cycle a {
      width: 43px;
      height: 43px;
      display: grid;
      place-content: center;
      padding: 3px;
      font-size: 20px;
      text-transform: uppercase;
      border-radius: 50%;
      background: #290e05;
      color: #fff; }
      .pagination__cycle a:hover {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background: #60210c; }
  .pagination .active {
    background: #60210c;
    color: #fff; }

.footer {
  background: #290e05; }
  .footer__bottom {
    text-align: center;
    padding: 15px 0;
    background: #000; }
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px; }
    @media screen and (max-width: 600px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }
  @media screen and (max-width: 1024px) {
    .footer__nav {
      margin-bottom: 20px; } }
  @media screen and (max-width: 600px) {
    .footer__nav {
      margin-bottom: 30px; } }
  .footer__caption {
    margin-bottom: 5px;
    font-size: 18px; }
  .footer__link {
    padding: 5px 0; }
  .footer__name * {
    margin-bottom: 10px; }
  @media screen and (max-width: 600px) {
    .footer__name {
      margin-bottom: 30px; } }
  .footer__title {
    font-size: 16px;
    text-transform: uppercase; }
  .footer__address * {
    margin-bottom: 10px; }
  @media screen and (max-width: 600px) {
    .footer__address {
      margin-bottom: 30px; } }
  .footer__location {
    margin-top: 20px;
    line-height: 21px; }
  .footer__phone--second {
    margin-bottom: 20px; }
  .footer__copyright {
    font-size: 12px; }
  .footer__social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px; }
    .footer__social object {
      width: 50px; }
  .footer .info__callback {
    width: 100%;
    margin: 0;
    padding: 14px 20px;
    background: #fff;
    color: #290e05 !important; }
    .footer .info__callback:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background: #64220c;
      color: #fff !important; }
  .footer p, .footer a {
    display: block;
    color: #fff; }
  .footer a:hover {
    color: #64220c; }

/*# sourceMappingURL=main.css.map */